$base-font-size: 18px;
$base-text-color: #111;
$base-background-color: #EFEFEF;
$base-border-radius: 7px;
$base-border: 2px solid black;
$accent-color: darkorchid;
$secondary-accent: #e8d1f2;

html {
  font-size: $base-font-size;
  color: $base-text-color;
  background: $base-background-color;
  overflow-y: scroll;
}

html,
button,
textarea {
  font-family: monospace;
}

button,
textarea {
  font-size: $base-font-size;
  color: $base-text-color;
  background: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: 0 5px $base-text-color;
  padding: 3px 10px;
}

button {
  background: $secondary-accent;
}

button:hover {
  color: white;
  background: $accent-color;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0 1px $base-text-color;
}

video {
  max-width: 100%;
  width: 300px;
  background: black;
  min-height: 225px;
  border: $base-border;
  border-radius: $base-border-radius;
  margin: 5px;
}

#latex-body-wrap {
  margin: 0 auto;
  max-width: 700px;
  padding: 5px;
}

h1, h2, h3, h4, h5 {
  color: black;
  text-shadow: 2px 2px $secondary-accent;
}

a {
  color: $accent-color;
  text-decoration: none;
}

.centered {
  text-align: center;
}

hr {
  border: 1px dashed $base-text-color;
  margin: 2em 0em;
}