$base-font-size: 20px;
$base-text-color: #111;
$base-background-color: #EFEFEF;
$base-border-radius: 7px;
$base-border: 2px solid black;

html {
  font-size: $base-font-size;
  color: $base-text-color;
  background: $base-background-color;
}

html,
button,
textarea {
  font-family: monospace;
}

button,
textarea {
  font-size: $base-font-size;
  color: $base-text-color;
  background: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
}

video {
  max-width: 100%;
  width: 300px;
  background: black;
  min-height: 225px;
  border: $base-border;
  border-radius: $base-border-radius;
}
